/* Full Page Layout */
html,
body {
  background-color: #ffff00; /* Yellow background */
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.admin-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

/* ✅ Logo: top-left fixed position */
.admin-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 170px;
  height: auto;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 110, 255, 0.2);
}

/* Login Box */
.login-box {
  background-color: #0001fc;
  color: white;
  max-width: 400px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.admin-login-container h1 {
  margin-bottom: 25px;
  font-size: 40px;
  color: #0001fc;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 13px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 14px;
}

button {
  width: 106%;
  background-color: white;
  color: #0001fc;
  font-weight: bold;
  margin-top: 13px;
  padding: 13px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #f0f0f0;
}
